.search-results,
.movie-description {
  background-color: #111;
  height: 100vh;
}

.rating-border {
  border: 1px solid transparent;
  border-radius: 0.3em;
  background-color: #7f99e1;
}

.rating {
  margin-left: 0.5rem;
}

.watchlist-button {
  color: white;
  border: #7f99e1 1px solid;
  border-radius: 0.3em;
}
